# Properties for  Powergrid datasources
powergrid.db.uri = ${powergrid.db.uri}
powergrid.db.user = ${powergrid.db.user}
powergrid.db.password = ${powergrid.db.password}

# Mysql datasource for fusiondb project.
fusion.db.uri = jdbc:mysql://eioc-goss:3306/fusion
fusion.db.user = root
fusion.db.password = rootpass

# Mysql datasource for mdart project.
mdartdb.uri = jdbc:mysql://localhost:3306/mdart
mdartdb.user = root
mdartdb.password = rootpass

# Mysql datasource for gridmw project.
gridmw.db.uri=jdbc:mysql://localhost:3306/gridopticsdb
gridmw.db.user=root
gridmw.db.password=rootpass

# Mysql datasource for tutorial project.
tutorialdb.uri = jdbc:mysql://localhost:3306/tutorial
tutorialdb.user = root
tutorialdb.password = rootpass

kairosdb.db.uri = localhost
kairosdb.db.port = 8080
