<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
 	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">

	<display-name>Goss Core Web</display-name>

	<servlet>
		<servlet-name>default</servlet-name>
		<servlet-class>org.eclipse.jetty.servlet.DefaultServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>management</servlet-name>
		<servlet-class>pnnl.goss.web.ManagerServletImpl</servlet-class>
	</servlet>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	<servlet-mapping>
		<servlet-name>management</servlet-name>
		<url-pattern>/manage/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
	
	<filter>
		<filter-name>checkAuthenticatedFilter</filter-name>
		<filter-class>pnnl.goss.demo.security.filter.CheckAuthenticatedFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>checkAuthenticatedFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>loginServlet</servlet-name>
		<servlet-class>pnnl.goss.demo.security.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>logoutServlet</servlet-name>
		<servlet-class>pnnl.goss.demo.security.LogoutServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>dataPMU</servlet-name>
		<servlet-class>pnnl.goss.demo.pmu.RetrievePMUDataServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loginServlet</servlet-name>
		<url-pattern>/checkLogin/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>logoutServlet</servlet-name>
		<url-pattern>/logout/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>dataPMU</servlet-name>
		<url-pattern>/data/pmu/*</url-pattern>
	</servlet-mapping>
	-->
</web-app>
