LDAPLogin {
  pnnl.goss.security.util.GossLDAPLoginModule required
    debug=true
    initialContextFactory=com.sun.jndi.ldap.LdapCtxFactory
    connectionURL="ldap://eioc-goss:10389"
    connectionUsername="uid=admin,ou=system"
    connectionPassword=Ldp4Goss$
    connectionProtocol=""
    authentication=simple
    userBase="ou=users,ou=goss,ou=system"
    userSearchMatching="(uid={0})"
    userSearchSubtree=false
    roleBase="ou=groups,ou=goss,ou=system"
    roleName=cn
    roleSearchMatching="(member=uid={1})"
    roleSearchSubtree=false
    ;
};